.speech-bubble-other {
  position: relative;
  border:1px solid;
  border-color: rgba(0, 170, 187, 0.7);
  border-radius: 0.4em;
  padding: 10px;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: rgba(0, 170, 187, 0.7);
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
  }
  .verify{
    display:none;
    position:absolute;
    top:0;
    border-radius: 0.4em;
    text-align: center;
    left:0;
    width:100%;
    height:100%;
  }
    &:hover{
      .verify{
        display:table-cell;
        vertical-align: middle;
        background-color: rgba(0, 170, 187,0.8);
      }
     
    }
  &:first-child {
    margin-top: 0;
  }
}



.speech-bubble-name{
  width:100%;
  display: inline-block;
}
.speech-bubble-me {
  position: relative;
  border:1px solid;
  border-color: rgba(0, 71, 187, 0.7);
  border-radius: 0.4em;
  padding: 10px;
  margin-top: 10px;
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: rgba(0, 71, 187, 0.7);
    border-right: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-right: -20px;
  }
  &:first-child {
    margin-top: 0;
  }
}
