@mixin speech-bubble($color, $position) {
  position: relative;
  border: 1px solid;
  border-color: transparentize($color, $amount: 0.3);
  background-color: transparentize($color, $amount: 0.6);
  border-radius: 0.4em;
  padding: 10px;
  &:after {
    content: "";
    position: absolute;
    #{$position}: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    @if ($position == "left") {
      border-right-color: transparentize($color, $amount: 0.3);
    } @else {
      border-left-color: transparentize($color, $amount: 0.3);
    }
    border-#{$position}: 0;
    border-bottom: 0;
    margin-top: -12px;
    margin-#{$position}: -15px;
  }
}

.speech-bubble-other {
  @include speech-bubble(rgb(0, 170, 187), "left");
}

.speech-bubble-me {
  @include speech-bubble(rgb(0, 71, 187), "right");
}
